@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --cor-preto: #000000;
    --cor-rosa-claro: #ffd4ff;
    --cor-rosa-escuro: #eca4e2f3;
    --cor-roxo: #9380C9;
    --cor-verde: #4291A1;
    --cor-branco: #FFFFFF;
    --cor-cinza: #ececec;
    --cor-cinza-claro: #dadada;
    --cor-cinza-escuro: #5E5E5E;
    --cor-roxo: #8C3480;
    --cor-rosa2: #db92ca;

    --borda: 1px solid var(--cor-cinza-claro);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/*SELETOR GLOBAL*/

*{
   font-family: "Nunito Sans", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    background-color: var(--cor-cinza);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/*formulario*/
input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-cinza);
}

.formulario-botao-rosa{
    background-color: var(--cor-rosa-escuro);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}