@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --cor-preto: #000000;
    --cor-rosa-claro: #ffd4ff;
    --cor-rosa-escuro: #eca4e2f3;
    --cor-roxo: #9380C9;
    --cor-verde: #4291A1;
    --cor-branco: #FFFFFF;
    --cor-cinza: #ececec;
    --cor-cinza-claro: #dadada;
    --cor-cinza-escuro: #5E5E5E;
    --cor-roxo: #8C3480;
    --cor-rosa2: #db92ca;
    --cor-cinza1: #DBDBDB;
    --cor-roxa-clara: #695A93;
    --cor-cinza2: #efefef;
    --cor-roxo2: #a397c7;
    --cor-lilas: #c1b7de;

    --borda: 3px solid var(--cor-cinza1);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/*SELETOR GLOBAL*/

*{
   font-family: "Nunito Sans", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    background-color: var(--cor-cinza);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/*formulario*/
.estilo-formulario {
    border: var(--borda);
    width: 100%;
    background-color: var(--cor-branco);
}

input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-cinza);
}

.formulario-botao-rosa{
    background-color: var(--cor-rosa-escuro);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

#campo-upload{
    display: none; /*esconde*/
}

#texto-upload{
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-lilas);
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro);
    font-weight: 500;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#secao-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}
/* cabeçalho */

#cabecalho{
    width: 100%;
    height: 80px;
    background-color: #fffffff6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--borda);
}

#cabecalho > nav{
    /* background-color: #922a7a; */
    width: 85%;
    max-width: 1440px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-mobile{
    display: none;
}

.cabecalho-acoes{
    /* background-color: #e27380; */
    display: flex;
    align-items: center;
    gap: 18px;
}

.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}

#foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* RESPONSIVO */
@media only screen and (max-width: 485px) {
    #logo-mobile{
        display: initial;
    }
    #logo-desktop{
        display: none;
    }
}


